.galleryItem {
  max-height: 20em;
  max-width: 90%;
  margin: 1em;
}

.gallery {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryWrap {
  display: flex;
  justify-content: center;
}