.linkForm {
	background-color: #FFCF99;
}

.fileForm {
	background-color: #FEFE71;
}

.submitButton {
  background-color: #66A3A0;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
}

.centered {
  display: flex;
  justify-content: center;
}

.tabs {  
  display: flex;
}

.tab {
  width: 50%;  
}

.form {
  width: 100%;
  display: inline;
}

.bordered {
  border-width: 1px;
}